/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --bg: #2c3539;
  --light: #ffe;
  --accent: #15d846;
  --transition: 0.3s ease-out;
  --accent-transp: rgba(21, 216, 70, 0.1);
  --black-shade: #111314;
}

@font-face {
  font-family: FONT;
  src: url("./assets/fonts/RedHatText-Regular.ttf") format("TrueType");
}

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

#root {
  width: 100%;
  height: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-wrapper {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5rem;
}

.user .user-n-alii span {
  display: inline-block;
  width: 100%;
}

.user .user-n-alii .last-message {
  font-size: 0.65rem;
  color: #eeeeeed8;
}


.action-call-button {
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: 25px;
  height: 30px;
  padding: 0.2rem 1rem;
  margin-top: 0.5rem;
  color: var(--accent);
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.action-call-button:hover {
  background-color: var(--accent);
  color: var(--light);
}

.connected-user-name {
  color: var(--light);
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
  border-radius: 25px;
  border: 0.1px solid var(--light);
}

* {
  font-family: FONT, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.wrap-cards {
  background-color: var(--black-shade);
  width: 80%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 40% 30%;
  grid-template-columns: 30% 40% 30%;
}

.chat-card {
  bottom: 2rem;
  right: 2rem;
  background-color: var(--light);
  height: 100%;
  width: 100%;
  overflow: auto;
}

.chat-card-header {
  background-color: transparent;
  color: var(--bg);
}

.chat-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  border-bottom: 0.5px solid var(--bg);
  padding: 0.5rem 0.8rem;
}

.chat-card-room {
  display: -ms-grid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-direction:column;
          flex-direction:column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  position: relative;
}

.chat-room-top {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1rem;
}

.chat-room-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5rem;
  list-style-type: none;
}

.chat-room-top svg {
  height: 20px;
}

.chat-room-top button:not(.exclude-button) {
  height: 30px;
  width: 30px;
  border-radius: 150px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  background-color: transparent;
  cursor: pointer;
}

.chat-room-top button:not(.exclude-button):hover {
  background-color: var(--accent);
}

.chat-room-top .user .is-online {
  background-color: var(--accent-transp);
  padding: 0.1rem 0.5rem;
  color: var(--accent);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  height: 20px;
  width: 20px;
}

.chat-room-top .user .is-online .dot {
  height: 10px;
  width: 10px;
  background-color: var(--accent);
  border-radius: 150px;
}

.chat-card-room .group-users {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light);
  overflow: auto;
}

.chat-card-room .group-users .list-users {
  list-style-type: none;
  color: var(--black-shade);
  font-size: 0.8rem;
  padding: 1rem;
}

.group-users .top-bar {
  position: sticky;
  top: 0;
  background-color: inherit;
  border-bottom: 0.5px solid var(--bg);
  padding: 0.5rem 1rem;
  overflow: hidden;
}

.group-users .top-bar .optional {
  display: none;
}

.group-users .top-bar .optional.show-details {
  display: initial;
}

.group-users .top-bar > *,
.group-users .top-bar .optional > * {
  margin-bottom: 0.3rem;
}

.group-users .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5rem;
  padding-inline: 1rem;
  padding-top: 0.5rem;
  width: 100%;
}

.group-users .icons button {
  background-color: transparent;
  cursor: pointer;
}

.group-users svg {
  height: 20px;
}

.group-users svg *:not(rect:first-of-type) {
  stroke: var(--black-shade);
}

.group-users .top-bar h3 {
  font-size: 1.1rem;
}

.group-users .top-bar p {
  font-size: 0.8rem;
}

.group-users .top-bar .infos-on-group {
  font-size: 0.8rem;
  padding-top: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.group-users .user-elt,
.group-users .user-elt .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
  gap: 0.5rem;
}

.group-users .user-elt {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border-radius: 4px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 1rem;
}

.group-users .user-elt .left {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.group-users .user-elt .actions button {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border-radius: 150px;
}

.group-users li span {
  display: inline-block;
  width: 100%;
}

.message-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  overflow: auto;
  height: 100%;
}

.chat-message-form {
  padding: 1rem;
  min-height: 80px;
}

.chat-message-form,
.chat-card-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.chat-message-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.chat-card-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.wrap-chatbox {
  width: 60%;
  padding: 0.8rem;
  font-size: 0.8rem;
  color: var(--light);
  border-radius: 5px;
}

.wrap-chatbox .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.3rem;
}

.wrap-chatbox .options button {
  background-color: transparent;
  cursor: pointer;
}

.wrap-chatbox .options svg {
  height: 15px;
}

.wrap-chatbox.em:last-of-type {
  -webkit-animation: shake 0.3s ease-in forwards alternate;
          animation: shake 0.3s ease-in forwards alternate;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }

  50% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }

  100% {
    -webkit-transform: initial;
            transform: initial;
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  25% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }

  50% {
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }

  100% {
    -webkit-transform: initial;
            transform: initial;
  }
}
.wrap-chatbox.me {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.wrap-chatbox.em {
  background-color: #1c2124;
  border-bottom-left-radius: 0;
}

.wrap-chatbox.me .chat-box {
  border-radius: 5px;
  background-color: var(--bg);
  border-bottom-right-radius: 0;
  padding: 0.8rem;
  width: 100%;
}

.chat-box .groupal-sender {
  background-color: var(--accent-transp);
  padding: 0.1rem 0.5rem;
  color: var(--accent);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.wrap-chatbox .options {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-box .has-been-read svg *:not(rect:first-of-type) {
  stroke: var(--accent);
}

.chat-box .message-time {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.7rem;
  min-height: 70px;
}

.chat-box .message-time.align-groupal-sender-cell-name {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 0.5rem;
}

.message-time svg {
  height: 1rem;
}

.chat-box .message-time:has(.has-been-read) {
  color: var(--accent);
}

.chat-box .message-time .no-read-time-cell {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.1rem 0.5rem;
  color: var(--light);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
}

.chat-card-header .contains-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.chat-card-header .contains-icons .notifications {
  position: relative;
}

.chat-card-header .contains-icons .notifications .signal {
  position: absolute;
  top: 0;
  right: 2px;
  height: 10px;
  width: 10px;
  border-radius: 150px;
  background-color: var(--accent);
}

.chat-card-header .header-action:not(.exclude-button),
.chat-card-header button:not(.exclude-button) {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.chat-card-header .header-action:not(.exclude-button):not(.close-modal):hover,
.chat-card-header .header-action:not(.exclude-button):not(.close-modal):active,
.chat-card-header button:not(.exclude-button):not(.close-modal):hover,
.chat-card-header button:not(.exclude-button):not(.close-modal):active {
  background-color: var(--accent);
}

.chat-card-header .header-action svg,
.chat-card-header button svg {
  height: 25px;
}

.chat-card-header
  .header-action:not(.close-modal)
  svg
  *:not(rect:first-of-type),
.chat-card-header button:not(.close-modal) svg *:not(rect:first-of-type) {
  stroke: var(--light);
}

.message-input {
  width: 100%;
}

.message-input,
.message-input .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5rem;
}

.message-input textarea {
  width: 100%;
  background-color: transparent;
  border-radius: 25px;
  height: 40px;
  padding: 0.5rem 1rem;
  resize: none;
  border: 0.5px solid var(--bg);
}

.message-input textarea::-webkit-scrollbar {
  display: none;
}

.message-input textarea::-moz-selection {
  background-color: var(--accent-transp);
}

.message-input textarea::selection {
  background-color: var(--accent-transp);
}

.message-input button {
  height: 30px;
  width: 30px;
  border-radius: 150px;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.message-input button:hover {
  background-color: var(--accent);
}

.message-input svg {
  height: 20px;
}

.right-bar,
.conversations-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.conversations-card {
  overflow: auto;
}

.filter-n-search {
  border-bottom: 0.5px solid var(--bg);
}

.filter-n-search svg {
  height: 20px;
}

.filter-n-search svg *:not(rect:first-of-type) {
  stroke: var(--light);
}

.filter-n-search .search button {
  background-color: transparent;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.filter-n-search .search button:hover {
  background-color: var(--accent);
}

.filter-n-search .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.filter-n-search .search,
.filter-n-search .filter {
  width: 100%;
  padding: 0.5rem;
}

.filter-n-search .search input {
  width: 100%;
  height: 35px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: transparent;
  border: 0.5px solid var(--bg);
  color: var(--light);
  font-size: 0.8rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.filter-n-search .search input:focus-within {
  border-color: var(--light);
}

.filter-n-search .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.8rem;
}

.filter-n-search .filter button {
  font-size: 0.8rem;
  border-radius: 25px;
  background-color: var(--accent-transp);
  color: var(--accent);
  padding: 0.3rem 0.5rem;
  min-width: 60px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  font-weight: lighter;
  cursor: pointer;
}

.filter-n-search .filter button:hover,
.filter-n-search .filter button.active {
  background-color: var(--accent);
  color: var(--black-shade);
}

.list-users-n-conversations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style-type: none;
  overflow: auto;
  height: 100%;
}

.list-users-n-conversations li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75rem;
  color: var(--light);
  padding: 0.5rem 0.8rem;
  cursor: pointer;
}

.list-users-n-conversations li.current-chat {
  background-color: var(--accent-transp);
  color: var(--accent);
}

.counter-and-online-indicator.online {
  background-color: var(--accent);
  color: var(--bg);
}

.counter-and-online-indicator {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.more-user-actions {
  padding: 0.5rem 0.8rem;
  border-top: 0.5px solid var(--bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5rem;
}

.more-user-actions .btn-or-link {
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.more-user-actions .btn-or-link.active,
.more-user-actions .btn-or-link:hover {
  background-color: var(--accent);
}

.more-user-actions svg {
  height: 25px;
}

.more-user-actions svg *:not(rect:first-of-type) {
  stroke: #fff;
}

.modal-page {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.modal-card {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 80%;
  width: 500px;
  background-color: var(--light);
  border-radius: 5px;
  overflow: auto;
}

.modal-card .close-modal {
  background-color: transparent;
  cursor: pointer;
}

.modal-card svg {
  height: 25px;
}

.modal-card .box-in-modal-card {
  padding: 1rem 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 0.5rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal-card .box-in-modal-card .delete-account-button {
  padding: 0.5rem 1rem;
  background-color: red;
  cursor: pointer;
  color: var(--light);
  border-radius: 4px;
}

.modal-card .lister {
  padding: 1rem 1.6rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5rem;
}

.modal-card .lister li {
  width: 100%;
  padding: 0.2rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000;
}

.modal-card .lister li svg *:not(rect:first-of-type) {
  stroke: #000 !important;
}

.modal-card .modal-header {
  padding: 1rem 1.5rem;
  border-bottom: 0.5px solid var(--bg);
  /* box-shadow:.2px .2px 5px .1px grey; */
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: inherit;
}

.modal-card .modal-header .icons-n-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5rem;
}

.modal-card .modal-header h2 {
  margin: 0;
}

.modal-card .modal-final-action-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: var(--accent);
  color: var(--light);
  cursor: pointer;
  margin-block: 0.5rem;
}

.modal-card .edit-image {
  position: relative;
  min-height: 200px;
  background-color: var(--light);
}

.modal-card .edit-image .image-container {
  height: 100%;
  width: 100%;
}

.modal-card .edit-image .details-n-action {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
}

.modal-card .edit-image button {
  margin-bottom: 0.2rem;
  height: 30px;
  width: 30px;
  background-color: var(--bg);
  border-radius: 4px;
  cursor: pointer;
}

.modal-card .image-viewer {
  padding: 1rem;
}

.auth-card {
  background-color: var(--light);
  min-height: 300px;
  width: 400px;
  border-radius: 5px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.wrap-input > * {
  display: inline-block;
  width: 100%;
}

.wrap-input > *:not(:last-child) {
  margin-bottom: 0.2rem;
}

.wrap-input input {
  height: 40px;
  padding: 0.5rem 1rem;
  border: 2px solid var(--bg);
  background-color: transparent;
  border-radius: 5px;
}

.wrap-input input:focus {
  border-color: var(--accent);
}

.wrap-input label,
.wrap-input .error {
  font-size: 0.8rem;
}

.wrap-input .error {
  color: red;
}

.wrap-checks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0.5rem;
}

.auth-card h1 {
  margin: 0;
  color: var(--bg);
}

.auth-card button {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: var(--accent);
  color: var(--light);
  cursor: pointer;
}

.auth-card button:disabled {
  opacity: 0.6;
}

.auth-card .switch-auth-cards {
  color: var(--bg);
  gap: 0.5rem;
  font-size: 0.8rem;
}

.placeholder {
  width: 100%;
}

.placeholder .no-chat-selected {
  height: 100%;
  padding: 2rem;
  text-align: center;
}

.placeholder .no-chat-selected h1 {
  color: var(--accent);
}

.placeholder .no-message {
  font-size: 0.8rem;
}

.placeholder .bubble {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.8rem;
  margin-block: 0.8rem;
  gap: 0.2rem;
  padding: 0.5rem 0.8rem;
}

.placeholder .no-data {
  background-color: #eee;
  color: var(--bg);
  border-radius: 4px;
}

.placeholder .on-error .retry {
  -webkit-text-decoration: underline red;
          text-decoration: underline red;
  cursor: pointer;
}

.placeholder .on-error svg {
  height: 20px;
}

.right-bar ul {
  list-style-type: none;
  padding-inline: 0.8rem;
  width: 100%;
}

.right-bar .displayed-section {
  color: var(--light);
  margin: 1rem;
}

.right-bar .displayed-section::after {
  content: "";
  display: block;
  background-color: var(--light);
  width: 100%;
  height: 1px;
  margin-block: 0.8rem;
}

.right-bar .right-bottom {
  color: var(--accent);
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.notifications-container {
  padding-block: 1rem;
  height: 100%;
}

.notifications-container .notification-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  font-size: 0.7rem;
  padding: 0.3rem 0.4rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.notification-cell button {
  background-color: transparent;
  cursor: pointer;
}

.notification-cell button:hover {
  background-color: var(--accent);
}

.notifications-container .notification-cell svg {
  height: 18px;
}

.notifications-container .notification-cell .delete-notif {
  cursor: pointer;
}

.float-card-container {
  position: relative;
}

.float-card-container .float-card {
  position: absolute;
  background-color: var(--black-shade);
  min-width: 120px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 30px;
  right: 0;
  top: 40px;
}

.float-card-container .float-card::after {
  content: "";
  display: block;
  background-color: inherit;
  height: 10px;
  width: 10px;
  position: absolute;
  top: -5px;
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg);
  right: 0.7rem;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.float-card-container
  .float-card:has(
    button:first-of-type:hover,
    button:first-of-type:active,
    button:first-of-type:focus
  )::after {
  background: #15d846;
}

.float-card-container .float-card button {
  padding: 0.3rem 0.5rem;
  background-color: inherit;
  color: var(--light);
  width: 100%;
  cursor: pointer;
  text-align: left;
}

.float-card-container .float-card button:hover,
.float-card-container .float-card button:active,
.float-card-container .float-card button:focus {
  background-color: var(--accent);
  color: var(--black-shade);
}

.search-form {
  height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 25px;
  border: 0.1px solid var(--bg);
  padding: 0.2rem;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: var(--bg);
  -o-transition: var(--bg);
  transition: var(--bg);
}

.search-form input {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: transparent;
}

.search-form button {
  height: 28px;
  width: 35px;
  border-radius: 150px;
  background-color: transparent !important;
  cursor: pointer;
}

.search-form:has(input:focus-visible) {
  border-color: var(--accent);
}

.search-form:has(input:focus-visible) svg *:not(rect:first-of-type) {
  stroke: var(--accent) !important;
}

.search-form svg *:not(rect:first-of-type) {
  stroke: #000 !important;
}

.home-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.home-page image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-page .announce {
  background-color: var(--black-shade);
  width: 100%;
  padding: 0.5rem 1rem;
  height: 40px;
  text-align: center;
}

.home-page a {
  color: var(--accent);
  text-decoration: none;
}

.home-page .announce svg {
  height: 20px;
}

.home-page .announce .text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

.home-page .animate-icon {
  -webkit-animation: back-and-forth 0.5s ease-in-out infinite alternate;
          animation: back-and-forth 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes back-and-forth {
  to {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

@keyframes back-and-forth {
  to {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
}

.home-page .announce svg *:not(rect:first-of-type) {
  stroke: var(--accent);
}

.home-page .top {
  background-color: var(--accent);
  height: 35%;
}

.home-page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: transparent;
  padding: 1rem;
}

.home-page .top .content {
  padding: 1rem;
  width: 100%;
}

.home-page .top .content .image-container {
  width: 800px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid var(--light);
  border-radius: 5px;
  position: absolute;
  right: 2rem;
  /* bottom: -50%; */
}

.home-page .links-n-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.8rem;
}

.home-page .links-n-buttons .link {
  text-decoration: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.home-page .links-n-buttons .link.normal {
  color: var(--accent);
  border: 0.5px solid var(--black-shade);
  background-color: var(--black-shade);
}

.home-page .links-n-buttons .link.paradox {
  background-color: transparent;
  border: 0.5px solid var(--black-shade);
  color: var(--black-shade);
}

.home-page .links-n-buttons .link.normal:hover {
  background-color: transparent;
  color: var(--black-shade);
}

.home-page .links-n-buttons .link.paradox:hover {
  color: var(--accent);
  border: 0.5px solid var(--black-shade);
  background-color: var(--black-shade);
}

.home-page .content .call-to-action svg *:not(rect:first-of-type) {
  stroke: var(--accent);
}

.home-page .bottom {
  background-color: var(--black-shade);
  padding: 2rem;
  height: 100%;
}

.home-page .bottom .right {
  padding: 2rem;
}

.home-page .right > * {
  margin-bottom: 0.5rem;
}

.home-page h1 {
  color: var(--accent);
  font-size: 4rem;
  line-height: 5rem;
}

.home-page .slogan {
  color: var(--light);
  font-size: 2rem;
}

.home-page .call-to-action {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0.5px solid var(--accent);
  border-radius: 25px;
  color: var(--accent);
  text-decoration: none;
  font-size: 0.8rem;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.home-page .call-to-action:hover,
.home-page .call-to-action:focus {
  background-color: var(--accent);
  color: var(--black-shade);
}

.home-page .fade-one,
.home-page .fade-two {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.home-page .fade-three {
  -webkit-transform: translateX(-200%);
      -ms-transform: translateX(-200%);
          transform: translateX(-200%);
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

.home-page .fade-one.show,
.home-page .fade-two.show {
  -webkit-transform: initial;
      -ms-transform: initial;
          transform: initial;
}

.home-page .fade-three.show {
  -webkit-transform: initial;
      -ms-transform: initial;
          transform: initial;
}